<h1>Add Course to Tutor</h1>

<%= form_for Tutoring.new do |t| %>
  <p>Course: <%= t.collection_select :course_id, Course.order(:name, :term), :id, :term_and_name, :include_blank => true %></p>
  <p>Hourly rate: <%= t.number_field :hourly, :class => 'text_field', :step => 0.01 %></p>
  <!-- add in field for mode of delivery if I have time -->
  <p>Description: <%= t.text_field :description, :size => 100 %> </br>(enter any additional info you want, e.g. if you've tutored or TA'd for this course before, modes of delivery, group tutoring rates, etc.)</p>
  <%= t.submit "Add" %>
<% end %>

<br>
<a href=<%= tutorings_path(:id => current_user.id) %>>Back</a>