<head>
  <% provide :title, @topic.title %>
</head>

<div class="container">
  <% if @course_title.nil? %>
    <%= link_to('Back to Topics', {:controller => 'messageboard', :action => 'index', :course => @course}) %>
  <% else %>
    <h1>
      <%= link_to(@course_title, {:controller => 'messageboard', :action => 'index', :course => @course}) %>
    </h1>
  <% end %>

  <h3> [<%= @topic.description %>] <%= @topic.title %> </h3>

Created by <%= link_to @user.username , controller: 'users', action: 'show' ,id: @user %>
-
<small> <%= time_ago_in_words(@topic.created_at) %> ago</small>
<br/> <br/>

<p> <%= @topic.first_post %> </p>

<% if current_user %>
  <hr/>

  <%= form_for [@topic, Post.new] do |f| %>
    <%= f.text_area :text, cols: 50, rows: 4, placeholder: "Add a comment" %> <br/>
    <%= f.check_box :anon %>
    <%= f.hidden_field :topic_id, value: @topic %>
    <small> Post anonymously </small>
    <br/>
    <%= f.submit "Post" %>
  <% end %>
  <br/>
<% end %>

<%= render(partial: 'posts/post', collection: @topic.posts, locals: {t_id: @topic.id}) %>

<hr/>

<%= link_to('Back to Topics', {:controller => 'messageboard', :action => 'index', :course => @course}) %>
