  <%= form_for(:user, :url => {:controller => 'users', :method => 'create'}) do |f| %>
    <p> Username:</br> <%= f.text_field :username%> </p>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <p> Last Name:</br> <%= f.text_field :last_name%> </p>
    <p> First Name:</br> <%= f.text_field :first_name%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
    <%= f.submit :Signup %>
  <% end %>
