<h1>Update User Information</h1>

<%= form_for(@user) do |f| %>
  <p> Username:</br> <%= f.text_field :username%> </p>
  <p> Email:</br> <%= f.text_field :email%> </p>
  <p> Last Name:</br> <%= f.text_field :last_name%> </p>
  <p> First Name:</br> <%= f.text_field :first_name%> </p>
  <p> Tutor: <%= f.check_box :tutor %> </p>
  <% if current_user && current_user.role == 'admin' %>
   	<p> Role:</br>
   	<%= f.radio_button(:role, "user") %>
   	<%= label_tag(:role, "User") %>
   	<%= f.radio_button(:role, "admin") %>
   	<%= label_tag(:role, "Admin") %></br>
  <% else %>
    <p></p>
  <% end %>
  <%= f.submit %>
<% end %>

<% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
<% end %>


<% if current_user.role == 'admin' %>
	<p><%= link_to 'Back', users_list_path %></p>
<% else %>
	<p><%= link_to 'Back', user_path %></p>
<% end %>