<!DOCTYPE html>
<html>
<body>

<head>
  <%= javascript_include_tag 'ratyrate.js.erb', "data-turbolinks-track" => false %>
</head>

<h1><%= @user.username %></h1>

<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
  <h3>Welcome back, <%= current_user.first_name %> <%= current_user.last_name %>!</h3>
  <% end %>
<% end %>

<p>Tutoring Service Ratings for <%= @user.username %></p>

Overall Rating: <%= imdb_style_rating_for @user, current_user %>

<%= rating_for @user,'tutoring_service',disable_after_rate: true,imdb_avg: true,enable_half: true %>

Number of Ratings:
<%= @user.rates("tutoring_service").count %>

<table>
  <tr>
    <th>Field</th>
    <th>User Information</th>
  </tr>

  <tr>
    <td>Username</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>


<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
    <h3>My Topics</h3>
  <% else %>
    <h3>User's Topics</h3>
  <% end %>
<% else %>
  <h3>User's Topics</h3>
<% end %>

<table>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title unless topic.title.blank? %></td>
    </tr>
  <% end %>
</table>

<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
    <h3>My Posts</h3>
  <% else %>
    <h3>User's Posts</h3>
  <% end %>
<% else %>
  <h3>User's Posts</h3>
<% end %>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.text unless post.text.blank? %></td>
    </tr>
  <% end %>
</table>

</body>
</html>

