<h1><%= @user.username %></h1>

<% if @user.id == current_user.id %>
<h3>Welcome back, <%= current_user.first_name %> <%= current_user.last_name %>!</h3>
<% end %>

<table>
  <tr>
    <th>Field</th>
    <th>User Information</th>
  </tr>

  <tr>
    <td>Username</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>

<% if @user.id == current_user.id %>
  <h3>My Topics</h3>
<% else %>
  <h3>User's Topics</h3>
<% end %>

<table>
  <% @topics.each do |topics| %>
    <tr>
      <td><%= @topics.title unless @topic.title.blank? %></td>
    </tr>
  <% end %>
</table>
