<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">

  function saveEdits() {
  var editElem = document.getElementById("edit");

  <%if defined?(current_user)%>
    <% if @user.id == current_user.id %>
      editElem.contenteditable == "true"
    <% end %>
  <% else %>
      editElem.contenteditable == "false"
  <% end %>

  var userVersion = editElem.innerHTML;
  localStorage.userEdits = userVersion;
  document.getElementById("update").innerHTML="Status updated!";
  }
  function checkEdits() {
  if(localStorage.userEdits!=null)
  document.getElementById("edit").innerHTML = localStorage.userEdits;
  }

</script>
</head>

<body onload="checkEdits()">

<h1><%= @user.username %></h1>

<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
  <h3>Welcome back, <%= current_user.first_name %> <%= current_user.last_name %>!</h3>
  <% end %>
<% end %>

<div id="edit" contenteditable="true">
Write your status here!
</div>

<%if defined?(current_user)%>
    <% if @user.id == current_user.id %>
      <div id="update"></div>
      <input type="button" value="Update Status" onclick="saveEdits()"/>
  <% end %>
<% end %>

<table>
  <tr>
    <th>Field</th>
    <th>User Information</th>
  </tr>

  <tr>
    <td>Username</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>


<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
    <h3>My Topics</h3>
  <% else %>
    <h3>User's Topics</h3>
  <% end %>
<% else %>
  <h3>User's Topics</h3>
<% end %>

<table>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title unless topic.title.blank? %></td>
    </tr>
  <% end %>
</table>

<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
    <h3>My Posts</h3>
  <% else %>
    <h3>User's Posts</h3>
  <% end %>
<% else %>
  <h3>User's Posts</h3>
<% end %>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.text unless post.text.blank? %></td>
    </tr>
  <% end %>
</table>

</body>
</html>