<!DOCTYPE html>
<html>
<body>

<head>
  <%= javascript_include_tag 'ratyrate.js.erb', "data-turbolinks-track" => false %>
</head>

<h1><%= @user.username %></h1>

<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
  <h3>Welcome back, <%= current_user.first_name %> <%= current_user.last_name %>!</h3>
  <% end %>
<% end %>

<!-- Overall Tutoring Service: <%= imdb_style_rating_for @user, current_user %> -->

 <table>
   <caption>Tutoring Service Ratings for <%= @user.username %></caption>
  <tr>
    <th>Field</th>
    <th>Rating</th>
    <th>Number of Ratings</th>
  </tr>
  <tr>
    <td>Knowledgeability</td>
    <td><%= rating_for @user,'Knowledgeability',disable_after_rate: false ,imdb_avg: true, enable_half: true %></td>
    <td><%= @user.rates("Knowledgeability").count %></td>
  </tr>
  <tr>
    <td>Clarity</td>
    <td><%= rating_for @user,'Clarity',disable_after_rate: false ,imdb_avg: true, enable_half: true %></td>
    <td><%= @user.rates("Clarity").count %></td>
  </tr>
  <tr>
    <td>Availability</td>
    <td><%= rating_for @user,'Availability',disable_after_rate: false ,imdb_avg: true, enable_half: true %></td>
    <td><%= @user.rates("Availability").count %></td>
  </tr>
  <tr>
    <td>Enthusiasm</td>
    <td><%= rating_for @user,'Enthusiasm',disable_after_rate: false ,imdb_avg: true, enable_half: true %></td>
    <td><%= @user.rates("Enthusiasm").count %></td>
  </tr>

</table> 

<table>
  <caption>About <%= @user.username %></caption>
  <tr>
    <th>Field</th>
    <th>User Information</th>
  </tr>

  <tr>
    <td>Username</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>


<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
    <h3>My Topics</h3>
  <% else %>
    <h3><%= @user.username%>'s Topics</h3>
  <% end %>
<% else %>
  <h3><%= @user.username%>'s Topics</h3>
<% end %>

<table>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title unless topic.title.blank? %></td>
    </tr>
  <% end %>
</table>

<%if defined?(current_user)%>
  <% if @user.id == current_user.id %>
    <h3>My Posts</h3>
  <% else %>
    <h3><%= @user.username%>'s Posts</h3>
  <% end %>
<% else %>
  <h3><%= @user.username%>'s Posts</h3>
<% end %>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.text unless post.text.blank? %></td>
    </tr>
  <% end %>
</table>

</body>
</html>

