<h1>SFU Study Hub Message Board</h1>

<% if current_user && current_user.role == 'admin' %>
	<h3>Administrator Functions:</h3>
	<p><%= link_to "Manually Add Single Course", courses_new_path %></p>
	<p><%= link_to "Bulk Add Courses by Term and Department", courses_download_path %></p>
	<h3>Basic User Functions:</h3>
<% end %>


<script>
// This script is adapted from www.w3schools.com/howto/howto_js_filter_table.asp
function filterCourseTable() {
  // Declare variables
  var termInput, termFilter, courseInput, courseFilter, table, tr, td, i;
  termInput = document.getElementById("termFilter");
  termFilter = termInput.value.toUpperCase();
  courseInput = document.getElementById("courseFilter");
  courseFilter = courseInput.value.toUpperCase();
  table = document.getElementById("courseTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, hiding those that don't match the search query
  for (i = 0; i < tr.length; i++) {
  	// Checking term column
  	tdTerm = tr[i].getElementsByTagName("td")[0];
  	tdCourse = tr[i].getElementsByTagName("td")[1];
    if (tdTerm && tdCourse) {
      if (tdTerm.innerHTML.toUpperCase().indexOf(termFilter) > -1 && tdCourse.innerHTML.toUpperCase().indexOf(courseFilter) > -1 ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</br>

<p>Search by term or year: <input type='text' size='20' id='termFilter' onkeyup='filterCourseTable()' placeholder='Enter term or year'></p>
<p>Search by course number or name: <input type='text' size='40' id='courseFilter' onkeyup='filterCourseTable()' placeholder='Enter course number or name'></p>
</br>

<p>Click on a course name below to view its message board.</p>

<table id='courseTable'>
	<col width = '150'>
	<col width = '700'>
	<% if current_user && current_user.role == 'admin' %>
		<col width = '100'>
		<col width = '100'>
	<% end %>
	<tr class='header'>
		<th>
			Term
		</th>
		<th>
			Course
		</th>
		<% if current_user && current_user.role == 'admin' %>
			<th></th>
			<th></th>
		<% end %>
	</tr>
	<% @courses.order(:term, :name).each do |course| %>
		<tr>
			<td>
				<%= course.term %>
			</td>
			<td>
				<%= link_to(course.name, {:controller => 'messageboard', :action => 'index', :course => course.id}) %>
			</td>
			<% if current_user && current_user.role == 'admin' %>
				<td>
					<%= link_to 'Edit', edit_course_path(course) %>
				<td>
					<%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
















<head>
  <title>Facebook Auth Example</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>

    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

</div>
<%= yield %>

</body>
