<div class="nested_posts_border">
<div class="nested_posts">

  <div class="post">
    <% if post.deleted == true %>
        <p> [deleted] </p>
    <% else %>   <!-- Start of post -->
        <% if post.anon == true %>
          Anon
        <% else %>
          <a href= <%= user_path('show',id: post.user_id) %>>
            <%= post.user.username unless post.user.blank?%>
          </a>
        <% end %>
      -
      <small>
        <%= time_ago_in_words(post.created_at) %> ago |
        <%= post.cached_votes_score %>
      </small>
      <br/>
      <p>
        <div id="post_body_<%= post.id %>">
         <%= simple_format(post.text) %>
        </div>

        <div id="edit_body_<%= post.id %>" style="display: none;">
          <%= form_for(post) do |f| %>
            <%= f.text_area :text %> <br/>
            <%= f.submit "Save Changes" %>
          <% end %>
        </div>
      </p>

      <p class="post_links">
        <small>
          <a href="#" id="show_comment_box_<%= post.id %>"> Reply </a>
        </small>

        <% if current_user %>
          <small>

            <% if (current_user.id == post.user_id) || (current_user.role == 'admin') %>
              <a href="#" id="edit_toggle_<%= post.id %>"> Edit </a>
            <% end %>

            <% if (current_user.id != post.user_id) %>
              <%= link_to like_post_path(post), method: :put do %>
                  Upvote
              <% end %>

              <%= link_to dislike_post_path(post), method: :put do %>
                Downvote
              <% end %>
            <% end %>

            <% if current_user.role == 'admin' %>
              <%= link_to "Delete",
                  post_path(post, :post => { :deleted => true}),
                  :method => :put,
                  :confirm => "Are you sure?"
              %>
            <% end %>
          </small>
      <% end %>
      </p>

      <div id="hide_comment_box_<%= post.id %>" style="display: none;">
        <% if current_user %>
          <br/>
          <%= form_for [post, Post.new] do |f| %>
            <%= f.text_area :text, placeholder: "Reply to this post" %> <br/>
            <%= f.check_box :anon %>
            <%= f.hidden_field :topic_id, value: t_id %>
            <small> Post anonymously </small> <br/>
            <%= f.submit "Reply"  %>
          <% end %>
          <br />
        <% else %>
          <p> Please log in to reply </p>
        <% end %>
      </div>

    <% end %> <!-- end of post -->

  </div>

  <% if p_order == 'rating' %>
    <%= render(partial: 'posts/post', collection: post.posts.order(cached_votes_score: :desc),
               locals: {t_id: @topic.id, p_order: p_order}) %>
  <% else %>
    <%= render(partial: 'posts/post', collection: post.posts.order(:created_at).reverse_order,
               locals: {t_id: @topic.id, p_order: p_order}) %>
  <% end %>

</div>
</div>


<script>
$(function()
{
  $('a#show_comment_box_<%= post.id %>').click(function(event)
  {
    event.preventDefault();
    $('div#hide_comment_box_<%= post.id %>').toggle();
  });
});

$('#edit_toggle_<%= post.id %>').on('click',function()
{
    if($('#post_body_<%= post.id %>').css('display')!='none')
    {
      $('#edit_body_<%= post.id %>').html($('#edit_body_<%= post.id %>').html()).show().siblings('div').hide();
    }
    else if($('#edit_body_<%= post.id %>').css('display')!='none')
    {
      $('#post_body_<%= post.id %>').show().siblings('div').hide();
    }
});
</script>
