<script>
$(function()
{
  $('a#show_comment_box_<%= post.id %>').click(function(event)
  {
    event.preventDefault();
    $('div#hide_comment_box_<%= post.id %>').toggle();
  });
});
</script>

<div class="nested_posts_border">
<div class="nested_posts">

  <% if post.parent != 0 %>
    <div class="post">
    <% if post.deleted == true %>
        [deleted]
    <% else %>   <!-- Start of post -->
      <strong>
        <% if post.anon == true %>
          Anon
        <% else %>
          <a href= <%= user_path('show',id: post.user_id) %>>
            <%= post.user.username unless post.user.blank?%>
          </a>
        <% end %>
      </strong>
      -
      <small> <%= time_ago_in_words(post.created_at) %> ago</small>
      <br/>
      <%= post.text %>
      <br/>

      <% if current_user %>
      <small>
        <a href="#" id="show_comment_box_<%= post.id %>"> Reply </a>

        <% if current_user.role == 'admin' %>
          <%= link_to "Delete",
              post_path(post, :post => { :deleted => true}),
              :method => :put,
              :confirm => "Are you sure?"
          %>
        <% end %>
      </small>

      <div id="hide_comment_box_<%= post.id %>" style="display: none;">
        <br/>
        <%= form_for [post, Post.new] do |f| %>
          <%= f.text_area :text, placeholder: "Reply to this post" %> <br/>
          <%= f.check_box :anon %>
          <small> Post anonymously </small> <br/>
          <%= f.submit "Reply"  %>
        <% end %>
      </div>
      <% end %>

    <% end %> <!-- end of post -->

    <br/><br/>
    </div>
  <% end %>

<%= render partial: 'posts/post', collection: post.posts %>

</div>
</div>
