<script>
$(function()
{
  $('a#show_comment_box_<%= post.id %>').click(function(event)
  {
    event.preventDefault();
    $('div#hide_comment_box_<%= post.id %>').toggle();
  });
});
</script>

<div class="nested_posts">

  <% if post.parent != 0 %>
    <div class="post">
    <%= post.user.username unless post.user.blank? %>
    <% if post.anon == true %>
      Anon
    <% end %>
    -
    <small> <%= time_ago_in_words(post.created_at) %> ago</small>
    <br/>
    <%= post.text %>
    <br/>
    <small>
      <a href="#" id="show_comment_box_<%= post.id %>"> Reply </a>
    </small>
      <div id="hide_comment_box_<%= post.id %>" style="display: none;">
        <br/>
        <%= form_for [post, Post.new] do |f| %>
          <%= f.text_area :text, placeholder: "Reply to this post" %> <br/>
          <%= f.check_box :anon %>
          <small> Post anonymously </small> <br/>
          <%= f.submit "Reply"  %>
        <% end %>
      </div>
    <br/><br/>
    </div>
  <% end %>

  <%= render partial: 'posts/post', collection: post.posts %>

  <hr>

</div>
