<script>
$(function()
{
  $('a#show_comment_box_<%= post.id %>').click(function(event)
  {
    event.preventDefault();
    $('div#hide_comment_box_<%= post.id %>').toggle();
  });
});
</script>

<div>
<li>
  <%= post.user.username unless post.user.blank?%> -
  <small>Submitted <%= time_ago_in_words(post.created_at) %> ago</small>
  <br/>
  <p> <%= post.text %> </p>

  <a href="#" id="show_comment_box_<%= post.id %>"> Reply </a>
  <div id="hide_comment_box_<%= post.id %>" style="display: none;">
    <br/>
    <%= form_for [post, Post.new] do |f| %>
      <%= f.text_area :text, placeholder: "Reply to this post" %> <br/>
      <%= f.check_box :anon %>
      <small> Post anonymously </small> <br/>
      <%= f.submit "Reply"  %>
      <% end %>
  </div>

  <br/>

  <ul>
      <%= render partial: 'posts/post', collection: post.posts %>
  </ul>

  <hr>

</li>
</div>
