<h1>Comment Reviews for Tutor</h1>

<table>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.comment unless review.comment.blank? %></td>
    </tr>
  <% end %>
</table>

<% if current_user %>
	<%= form_for [@review, Review.new] do |f| %>
    <%= f.text_area :comment, placeholder: "Write a Review" %> <br/>
    <%= f.hidden_field :person_rated_id, value: @user.id %>
    <%= f.hidden_field :person_rating_id, value: current_user.id %>
    <%= f.submit "Post Review" %>
	<% end %>
<% end %>

<a href=<%= user_path(:id=>@user.id) %>>Back</a>